<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to my <%= title %> CRUD App!</p>
      
    <nav>
        <div align="center" class ="home-list">
        <a href="/robots"><button col text-center id="listRobots" 
        type="list" class="btn  btn-primary">List Robots</button>
            </a>
        </div>
    </nav>
        
  </body>
</html>
